# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
    你需要在工具装配台上使用连锁挖掘强化才能让工具拥有连锁挖掘能力
    不妨试试开掘铲和锤, 3*3的挖掘能力在拥有连锁之前会很实用
    通量网络可以远程传输能量，物品路由器可以远程传输物品和流体
    0ganesson897:表白末一喵~
    森林蝙蝠:不是挺喜欢加模组的吗,不是喜欢用加速火把吗，把火把插你屁股里，给你好好加个速!
    我觉得意大利面就应该拌42号混凝土
    出生点不满意?不妨试试/rtp!
    你所热爱的就是你的生活
    熟练运用/ sethome和/home
    末一:我好想做嘉然小姐的狗啊
    关注ohxihh喵,关注ohxihh谢谢喵
    关注末一喵,关注末一谢谢喵
    不觉得这很酷吗?作为一名理工男我觉得这太酷了，很符合我对未来生活的想象
    年轻人我劝你耗子尾汁
    一定要尽早做HDPE产线,否则后期很可能会缺
    不会做产线?不会玩mod?不妨看看百科的教程
    红浪漫洗脚城欢迎您的光临
    自动化工程师装配台已被禁用!
    加入整合包开发交流群619421382!
    前期强烈推荐热传导发电机
    连锁不了？试试“挖掘强化”
    希望人没事
    你可以使用水产捕捞器获取大量的鱼
    肝败吓疯
    我们拥有最先进的加速方法！
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


